/WeeGUI.xcodeproj/project.xcworkspace/xcuserdata/
/WeeGUI.xcodeproj/xcuserdata/
/gui
/guidemo
.DS_Store
MouseText.xcf
Documentation_HTMLtables.md
WeeGUI.xcodeproj/project.xcworkspace/xcshareddata/WeeGUI.xccheckout

*.lst
*.o
*.map
